/*********** LEFT BLOCK ***********/

.home-wrapper-main-left {
    flex: 4;
}

.home-main-left {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    width: 100%;
}

.home-music-block {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 60px;
    margin-left: 10px;
    border-bottom: 1px solid #616161;
}

.home-music-block:hover {
    background-color: rgba(255,255,255,0.5);
}

.home-music-block:last-child {
    margin-bottom: 150px;
}

.home-music-block__img {
    width: 50px;
    height: 50px;
    background: linear-gradient(45deg, rgb(160, 231, 29), rgb(255, 211, 152));
    margin: 5px;
}

.home-music-block__description {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    padding: 5px 0 2px 5px;
}

.home-music-block__track-name {
    width: 100%;
    font-size: 16px;
}

.home-music-block__wrapper > span {
    font-size: 14px;
}

.home-music-block__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

/*********** RIGHT BLOCK ***********/

.home-main-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 6;
}

.home-main-right > img {
    width: 500px;
    height: 500px;
    margin-bottom: -100px;
}

.home-main-right > span {
    display: flex;
    margin: 0 15px 100px 15px;
}