// COLORS //
$black: #000;
$white: #fff;
$fa-color: #ddd;
$warning-color: #dc0000;
$side-color: #8b8bc7;

//scroll-bar
$scrollbar-track-color: #ddd;
$scrollbar-thumb-color: #222629;
$scrollbar-thumb-hover-color: #8b8bc7;

//text
$text-color: #ddd;
$input-text-color: #ddd;
$common-track-add-color: #8b8bc7;
$font: 'Century Gothic', 'Comic Sans MS';
$side-color: #8b8bc7;

//borders
$border-login-color: #ddd;
$border-color: #8b8bc7;
$border-form-color: #aaa;
$border-submenu-item-color: #8b8bc7;
$border-editer-color: #8b8bc7;

//backgrounds
$background-color: #222629;
$add-to-playlist-color: #0e0e16;
$header-color: #0e0e16;
$footer-color: #0e0e16;
$track-color: #323538;
$track-hover-color: rgba(255,255,255,0.25);
$submenu-color: #0e0e16;
$submenu-hover-color: rgba(255,255,255,0.25);
$library-inner-color: #323538;
$footer-seekbar-color: #1a1a1a;
$footer-volume-seekbar-color: #323538;
$footer-volume-loaded-color: #8b8bc7;
$footer-seekbar-thumb-color: #fff;
$footer-seekbar-loaded-color: #8b8bc7;
$playlist-editer-color: #222629;

//inputs
$login-form-color: #323538;
$input-inner-color: #323538;

//buttons
$button-color: #8b8bc7;

// SIZES //

$main-height: calc(100vh - 52px);
$header-height: 50px;
$footer-height: 70px;
$track-height: 60px;
$submenu-item-height: 40px;
$submenu-width: 100px;
$footer-more-bottom: 51px;
$footer-more-right: 228px;
$footer-seekbar-height: 3px;
$footer-seekbar-hover-height: 10px;
$footer-seekbar-thumb-height: 10px;
$footer-volume-seekbar-height: 5px;
$footer-volume-width: 120px;
$footer-volume-seekbar-height: 15px;
$footer-volume-seekbar-thumb-height: 8px;

// FONTS //

$text-size-huge: 32px;
$text-size-biggest: 26px;
$text-size-big: 22px;
$text-size-normal: 18px;
$text-size-small: 16px;
$text-size-smallest: 14px;
$text-size-tiny: 12px;
$text-size-warning: 12px;