$black: #000;
$white: #fff;

$main-height: calc(100vh - 102px);
$header-height: 50px;
$footer-height: 50px;

$text-size-biggest: 26px;
$text-size-big: 22px;
$text-size-normal: 18px;
$text-size-small: 16px;
$text-size-smallest: 14px;