// COLORS //
$black: #000;
$white: #fff;

//text
$text-color: #ddd;
$input-text-color: #ddd;

//borders
$border-login-color: #ddd;
$border-color: #8b8bc7;
$border-form-color: #aaa;
$border-submenu-item-color: #8b8bc7;

//backgrounds
$background-color: #222629;
$header-color: #0e0e16;
$footer-color: #0e0e16;
$track-color: #323538;
$track-hover-color: rgba(255,255,255,0.25);
$submenu-color: #0e0e16;
$submenu-hover-color: rgba(255,255,255,0.25);
$library-inner-color: #323538;

//inputs
$login-form-color: #323538;
$input-inner-color: #323538;

//buttons
$button-color: #8b8bc7;

// SIZES //

$main-height: calc(100vh - 117px);
$header-height: 50px;
$footer-height: 65px;
$track-height: 60px;
$submenu-item-height: 40px;
$submenu-width: 250px;

// FONTS //

$text-size-biggest: 26px;
$text-size-big: 22px;
$text-size-normal: 18px;
$text-size-small: 16px;
$text-size-smallest: 14px;