.footer__track {
    display: flex;
    flex: 5;
    flex-wrap: nowrap;
    min-width: 300px;
    height: $track-height;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    font-size: $text-size-smallest;
}