.form {

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;

        &_create {
            margin-right: 15px;
        }

        &_enter {
            margin-left: 15px;
        }

        &_back {
            margin-right: 15px;
        }
    }
 }

.button {
    cursor: pointer;
    width: 180px;
    height: 40px;
    border: 2px solid $border-login-color;
    border-radius: 2%;
    background-color: $button-color;
    font-family:  'Century Gothic', 'Comic Sans MS';
    font-size: 20px;
}

.field {
    cursor: pointer;
    font-family: 'Century Gothic', 'Comic Sans MS';
    font-size: 18px;
    color: $input-text-color;
    width: 260px;
    border: 2px solid $border-login-color;
    background-color: $input-inner-color;
}