.home__track {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: $track-height;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    background: $track-color;
    font-size: $text-size-smallest;

    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 6px 0;
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    &_img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    &_name {
        font-size: $text-size-small;
        font-weight: 600;
    }

    &_description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &_singer {
        padding-right: 20px;
        justify-content: flex-start;
        flex: 3;
        border-right: 2px solid $black;
    }

    &_album {
        text-align: center;
        padding: 0 20px;
        flex: 4;
        justify-content: center;
        border-right: 2px solid $black;
    }

    &_year {
        flex: 2;
        justify-content: center;
        padding-left: 20px;
    }

    &_time {
        flex: 1;
        text-align: end;
    }

    &:hover {
        background-color: $track-hover-color;
    }

    &:last-child {
        margin-bottom: 150px;
    }
}
