.library {
    display: flex;
    align-items: center;
    height: 100vh;

    &_inner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-color: $white;
        flex: 4;
    }

    &__aside {

        &_left {
            flex: 1;
        }

        &_right {
            flex: 1;
        }
    }
}