.playlist__track {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $border-color;
    background: $track-color;

    &_title {
        display: flex;
        align-items: center;
        flex: 2;
    }

    &_img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    &_name {
        margin-left: 10px;
        font-weight: 600;
        font-size: $text-size-normal;
    }

    &_description {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0 2px 5px;
        flex: 3;
        font-size: 16px;
    }

    &_singer {
        font-size: $text-size-smallest;
        margin-right: 20px;
    }

    &_album {
        font-size: $text-size-smallest;
        margin-right: 20px;

        &::before {
            content: '';
            border-left: 2px solid $black;
            margin-right: 20px;
        }
    }

    &_year {
        font-size: $text-size-small;

        &::before {
            content: '';
            border-left: 2px solid $black;
            margin-right: 20px;
        }
    }

    &_time {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 2;
        margin-right: 10px;
        font-size: $text-size-small;
    }

    &:hover {
        background-color: $track-hover-color;
    }
}

.current_time:after {
    content: '/';
}