.settings {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 20px;

    &__theme {
        width: 100%;
    }

    &__change_theme {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__to_login {
        width: 100%;
        color: $warning-color !important;
        margin-bottom: -70px;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 100%;
        margin: 20px 0;
    }
}

.radio_text {
    font-size: $text-size-normal;
}